<p>This is a simple web application written in Ruby using Sinatra to test the <a href="https://jim.hackpad.com/" target="_blank">JIM messaging protocol</a>.</p>
<p>It is meant to run over an implementation of  <a href="https://bitbucket.org/IngCr3at1on/kirknode" target="_blank">KirkNode</a> (a prototype JIM server written in CoffeeScript).
