<%# Need to find a way to make this a scrollable output window to handle the buffer.%>
<div id="container" style="width:500px;height:600px;background-color:#A9A9A9">
	<%=$buffer.join('<br>')%>
</div>

<form action="/client" method="post">
	Enter text:<input type="text" name="message">
	<input type="submit" value="send">
</form>
