<!doctype html>
<html lang="en">
<head>
	<meta charset="utf8">
	<title><%= @title %></title>
</head>
<body>
	<header>
		<hgroup>
			<h3><a href="/"><%= @title %>.</a></h3>
		</hgroup>
	</header>

	<div id="main">
		<%= yield %>
	</div>
	
	<footer>
		<p style="position: fixed; bottom: 0"><small><a href="about">About this project.</a></small></p>
	</footer>
</body>
</html>
